

@model profile.ViewModels.BlogPostViewModel
@using Microsoft.AspNetCore.Http


<br />

@*<h2>@ViewData["Title"]</h2>*@
@*<h3>@ViewData["Message"]</h3>*@

<div class="container">

    <p>Use this area to provide additional information.</p>

</div>
