@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Microsoft.AspNetCore.Http

@model profile.Models.BlogPost


<br>
<br>
<div class="container">
    <h1>Add BlogPost</h1>
    <hr />

    <form asp-controller="Home" asp-action="AddBlogPost" method="post" />
    <div class="form-group">
        <input type="hidden" name="blogpostid" asp-for="blogpostid" class="form-control" required />
        <fieldset>
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" asp-for="title" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="text">Short Description: </label>
                <input class="form-control" asp-for="shortdescription" type="text" name="shortdescription" data-length="5000" nameplaceholder="Short Description" required />
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea name="content" asp-for="content" class="form-control" data-length="5000" required> </textarea>
            </div>

            <div class="form-group col-sm-8">
                <label for="checkbox">Is Available: </label>
                <input asp-for="isavailable" typeof="checkbox" required />
            </div>
        </fieldset>
    </div>
    <button type="submit" class="btn btn-primary">Add Post</button>
    <br /><br />

</div>
@*<h3>Add Image</h3>
    <form asp-controller="Home" asp-action="UploadImage" enctype="multipart/form-data">
        <br />
        <input type="file" name="files" />
        <br />
        <button class="btn btn-large btn-success" name="upload">Add Picture</button>
    </form>*@
