@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"] = "Contact page"</h3>*@

<hr />
<br />

<address>
    Ottawa<br />
    ON, Canada<br />
    <abbr title="Phone">Cell:</abbr>
    343-961-9305
</address>

@*<p>
    This is an email link:
    <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send Mail</a>
</p>*@


<address>
    @*<strong>Email:</strong> <a href=franck.nana@yahoo.com">franck.nana@yahoo.com</a><br />*@

    <strong>Email:</strong>
    <a href="mailto:franck.nana@yahoo.com?Subject=Hello Franck" target="_top">Send Mail</a>
</address>
