@using Microsoft.AspNetCore.Http
@model profile.Models.BlogPost

@{
    Layout = "_Layout";
}

<br>
<br>
<div class="container">
    <h1>Edit BlogPost</h1>

    <br />

    <form asp-controller="Home" asp-action="EditBlogPost" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" value="@Model.blogpostid" name="BlogPostId" />

        <div class="form-group">
            <fieldset>

                <div class="form-group">
                    <legand>
                        Title
                    </legand>
                    <input type="text" name="title" asp-for="title" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea name="shortdescription" asp-for="shortdescription" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea name="content" asp-for="content" class="form-control"></textarea>
                </div>

            </fieldset>
        </div>
        <button type="submit" class="btn btn-success">Edit Post</button>

    </form>

</div>