    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
    }

    @{
        ViewData["Title"] = "Resume";
    }

    <p> @*style="text-align: center">*@
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>

        <ul> @*style="list-style-type:none;">*@

            <li> FRANCK NANA NGASSA</li>
            <li> Ottawa, ON</li>
            <li> nana.franck@yahoo.com</li>
            <li> Linkedin.com/in/franckngassa</li>
            <li> 343 961 9305</li>

        </ul>
    </p>

    <p>
    Objective:  Application for the Software Engineering position that is currently available within your organization.
    </p>

    <p>SUMMARY OF QUALIFICATIONS:

    <ul>

    <li> Strong linux experience</li>
    <li> Exposure to various cloud providers</li>
    <li> Excellent database manipulation skills</li>
    <li> Experience in hardware, web and mobile development</li>
    <li> Excellent  team player with the ability to work in a fast-paced environment</li>
    <li> Quick learner, critical thinker, detail oriented with outstanding troubleshooting skills</li>
    <li> Proficient indebugging automated testing, continuous integration and documentation</li>
    <li> Enjoy writing clean, robust and high-quality software as part of a complex integrated system</li>
    <li> Ability to communicate with the diversity in a technically-oriented interdisciplinary workplace</li>

    </ul>

    </p>

          <h3> Developer skills</h3>
          <table border="1">

             <tr>
                <td> Languages </td>
                <td> Java, HTML, CSS, JavaScript, SQL, Go, C, C++, Python, C#, Dart</td>
             </tr>
             <tr>
                <td> Networking </td>
                <td> HTTPS, TCP/IP, UDP, IPV6, Web Socket, VPN, SSH, WireShark</td>
             </tr>
               <tr>
                <td> Operating Systems </td>
                <td>  Linux, Mac OS X, Windows, Android, iOS, Blackberry, Neutrino RTOS</td>
             </tr>
                  <tr>
                <td> Environments </td>
                <td>  Android Studio, Eclipse, NetBeans, VS Code, Bash, Arduino, QNX Momentics</td>
             </tr>
                  <tr>
                <td> Version Control </td>
                <td> Git, Gitlab, BitBucket, Github</td>
             </tr>

                       <tr>
                <td> Cloud</td>
                <td> Heroku, Docker, Kubernetes, VMware, Virtual box, Digital Ocean, AWS, Google Cloud, Bluemix, Azure</td>
             </tr>

                           <tr>
                <td> Databases</td>
                <td> Oracle, MySql, MS SQL, MondoDB, Postgres, Firebase, SQLite </td>
             </tr>

                           <tr>
                <td> Framewoks</td>
                <td> LAMP, Django, ASP.NET, .NET Core(MVC), React.js, Angular.js, Node.js, Flutter</td>
             </tr>



                  <tr>
                <td> Quality assurance</td>
                <td> Agile, Kanban, Scrum, Continuous integration, Unit testing</td>
             </tr>



                  <tr>
                <td> Technologies</td>
                <td> Linux Kernel, Restful/Web API, RTOS, JDBC/ODBC, YAML, JSON, XML, CLI, Scripting, IIS, Embedded Systems, Threads, IPC</td>

                      </tr>
          </table>

 <br/> <br/>
          <p>
             <h3> Education </h3>

              Computer Engineering/Computer Science <br/>
              Graduation: April 2019 <br/>
              Algonquin College, Ottawa, ON <br/>

              </p>

        <p>
              College Computer Projects
              2019 Resource managers (Device drivers)

            <ul>
             <li> https://github.com/nanangassa/RTOS-QNX-Neutrino/tree/master/cst8244_lab6.ws</li>
             <li> https://github.com/nanangassa/RTOS-QNX-Neutrino/tree/master/cst8244_assign1_nana0006s</li>
             <li> https://github.com/nanangassa/RTOS-QNX-Neutrino/tree/master/cst8244_Assign2.wss</li>

        </ul>
          </p>

 <br/>

<p>
    2019 Cross-Platform Mobile Application: https://github.com/nanangassa/FlutterApp<br /> <br/>
    We wrote a cross platform android and iOS app using our client’s REST API that enables political parties to register voters and all their data into a Firebase database while also providing their location on a map, showing various records like if they have already voted or not. The project has been done in an agile environment and is at its final stage with unit tests, widget tests and integration testing.
 </p>

          <p>
    2018 Prediction Algorithm<br />
    As part of a competition posted on the Kaggle website by Google, we were challenged to analyze the Google Merchandise Store (also known as GStore, where Google swag is sold) customer dataset to predict revenue per customer by harnessing the power of Artificial intlligence. Several approaches were tried to train a model with one-year data of purchasing history using python, Sklearn, Numpy, panda and neural network architecture.
          </p>
          <p>
              2018 Compiler: https://github.com/nanangassa/Compiler <br /> <br/>
              The objective of this project was to write the front end of a compiler in four steps using the C programming language. First had to write the dynamic buffer which could work in three mode, fixed, additive and multiplicative; then came the lexical analyser whose role was to scan the buffer in order to produce a stream of tokens which would be identified as identifiers, keywords or literals by the finite state machine and a transition table. The third step was to implement a symbol table manager and database that would also store variables type, initial values, line numbers and reserved attributes. And the last step was to write a Recursive Descent Predictive Parser in order to move from token to token and identify the syntax of the source code recursively until the end-of-file token.
          </p>

<p>

    2018 Blog: https://github.com/nanangassa/.NET-C-Sharp <br /> <br/>
    As part of the .Net course where I finished with flying colors I had to write a blog for the final project using the C# programming language with MS SQL server on an azure database and hosted in an IIS environment. The blog has a registration page for regular users and administrators, blog page with multiple posts where each post can have multiple comments. Finally we have a list of bad word that has to be blurred if posted.

</p>

<p>

    2018 Android App <br/> <br/>
    With the help of the city of Ottawa, We built an android app that maps the location of every red light camera in Ottawa; we also added user authentication via REST API running on a glassfish server and using Java Server Faces for the web app.
 </p>
