@*
    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model profile.ViewModels.BlogPostViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";

}


<br />
<br />



<ul>
    @*style="list-style-type:none;">*@

    <li> FRANCK NANA NGASSA</li>
    <li> Ottawa, ON</li>
    <li> nana.franck@yahoo.com</li>
    <li>https://github.com/nanangassa/profile (Repository for this Web app)</li>
    <li> Linkedin.com/in/franckngassa</li>
    <li> 613 716 8200</li>


</ul>
    </p>
<hr />

<p>
    <h3> Objective: </h3>  Currently looking for a full-time developer position in a stimulating environment
</p>

<hr />

<p>
    <h3> Profile Highlights </h3>

    <ul>
        <li> Excellent database manipulation skills</li>

        <li> Professionally presented, eager and motivated Computer Science graduate with a solid background in a technical support environment</li>
        <li> Enjoy writing clean, robust and high-quality software as part of a complex integrated system</li>
        <li> Proficient in debugging, automated testing, continuous integration, and documentation</li>
        <li> Understanding of Software Development Lifecycle</li>
        <li> Ability to communicate effectively in English and French in a technically-oriented, interdisciplinary workplace</li>
        <li> Experience in mobile application development and web development (full stack)</li>
        <li> Strong linux, Mac OS X, Windows and Android experience</li>
        <li> Office Proficiency (Excel, Word, Outlook etc.) and experience gathering data to create reports</li>

        <li> Familiar with Agile environment</li>
        <li> Exposure to various cloud providers</li>
        <li> Excellent  team player with the ability to work in a fast-paced environment</li>
        <li> Quick learner, critical thinker, detail oriented with outstanding troubleshooting skills</li>

    </ul>

</p>

<h3> Developer skills</h3>
<table border="1">

    <tr>
        <td> Languages </td>
        <td>  C#, Java, HTML, CSS, JavaScript, PHP, Go, C, C++, Python, R, Dart</td>
    </tr>
    <tr>
        <td> Networking </td>
        <td> HTTPS, TCP/IP, UDP, IPV6, Web Sockets, VPN, SSH, Wireshark</td>
    </tr>
    <tr>
        <td> Operating Systems </td>
        <td>  Linux, Mac OS X, Windows, Android, iOS, BlackBerry, Neutrino RTOS</td>
    </tr>
    <tr>
        <td> Environments </td>
        <td>  Android Studio, Eclipse, NetBeans, VS Code, Arduino, QNX Momentics, Matplotlib, RStudio, Jupyter</td>
    </tr>
    <tr>
        <td> Version Control </td>
        <td> Git, Gitlab, BitBucket, Github, Jira, Jenkins</td>
    </tr>

    <tr>
        <td> Cloud</td>
        <td> Heroku, Docker, Kubernetes, VMware, Virtual box, Digital Ocean, AWS, Google Cloud, IBM Cloud</td>
    </tr>

    <tr>
        <td> Databases</td>
        <td> Oracle, MySql, MS SQL(ADO, T-SQL), MondoDB, Postgresql, Firebase, SQLite, LINQ </td>
    </tr>

    <tr>
        <td> Frameworks</td>
        <td> Java EE(JSF/JSP, Swing, FX), LAMP, Django, .NET Core(MVC)/EF/Blazor/WPF, Material Design, Bootstrap, Angular.js, jQuery, AJAX, Chart.js, Flutter</td>
    </tr>

    <tr>
        <td> Quality assurance</td>
        <td> Agile, Kanban, Scrum, Unit testing, SDLC, UAT</td>
    </tr>

    <tr>
        <td> Technologies</td>
        <td>
            Linux Kernel, Restful/Web API, RTOS, IPC, JDBC/ODBC,JSON, XML, YAML, Rest/Web API,
            Graph QL, Tomcat, Glassfish, Apache, Maven, IIS, Kestrel, CLI(Bash, Powershell), OAuth, JWT, OpenID, Azure Active Directory
        </td>

    </tr>
</table>

<br />
<br />
<p>
    <h3> Education </h3>

    Computer Engineering/Computer Science <br />
    Sep 2016 - April 2019 <br />
    Algonquin College, Ottawa, ON <br />

</p>

<p>
    <br />
    <br />
    <h3>
        PROFESSIONAL EXPERIENCE
    </h3>

    <h5>Software Engineering Specialist – Unified Communication Client Solution</h5>
    <h5> Ribbon Communications, 	Ottawa, 2019 to Present</h5>
    <ul>
        <li>Advise product managers on solution architecture and deployment Strategies</li>

        <li>	Fix bugs, add features, internationalize and document solutions for the smart office mobile, web and desktop client</li>
        <li>	Maintain telecommunication plug-ins for emails and browsers</li>
        <li>	Participate in code reviews</li>
        <li>	Implement new solutions according to customers specifications</li>
        <li>	Discuss software design strategies with a geographically and culturally diverse team.</li>
    </ul>
</p>

    <br />
    <br />
    <h4>College Computer Projects</h4>
    <br />
    <h6> Resource managers (Device drivers)</h6>

    <ul>
        <li> https://github.com/nanangassa/RTOS-QNX-Neutrino/tree/master/cst8244_lab6.ws</li>
        <li> https://github.com/nanangassa/RTOS-QNX-Neutrino/tree/master/cst8244_assign1_nana0006s</li>
        <li> https://github.com/nanangassa/RTOS-QNX-Neutrino/tree/master/cst8244_Assign2.ws</li>

    </ul>
</p>

<br />

<p>
    <h6> Cross-Platform Mobile Application: https://github.com/nanangassa/FlutterApp</h6>
    We wrote a cross platform android and iOS app using our client’s REST API that enables political parties to register voters and all their data into a Firebase database while also providing their location on a map, showing various records like if they have already voted or not. The project has been done in an agile environment and is at its final stage with unit tests, widget tests and integration testing.
</p>
<br />


<p>
    <h6>2018 Prediction Algorithm</h6>
    As part of a competition posted on the Kaggle website by Google, we were challenged to analyze the Google Merchandise Store (also known as GStore, where Google swag is sold) customer dataset to predict revenue per customer by harnessing the power of Artificial intelligence. Several approaches were tried to train a model with one-year data of purchasing history using python, Sklearn, NumPy, panda and neural network architecture.
</p>

<br />

<p>
    <h6>2018 Compiler: https://github.com/nanangassa/Compiler </h6>
    The objective of this project was to write the front end of a compiler in four steps using the C programming language. First had to write the dynamic buffer which could work in three mode, fixed, additive and multiplicative; then came the lexical analyser whose role was to scan the buffer in order to produce a stream of tokens which would be identified as identifiers, keywords or literals by the finite state machine and a transition table. The third step was to implement a symbol table manager and database that would also store variables type, initial values, line numbers and reserved attributes. And the last step was to write a Recursive Descent Predictive Parser in order to move from token to token and identify the syntax of the source code recursively until the end-of-file token.
</p>

<br />


<p>

    <h6>2018 Blog: https://github.com/nanangassa/.NET-C-Sharp</h6>
    As part of the .Net course where I finished with flying colors I had to write a blog for the final project using the C# programming language with MS SQL server on an azure database and hosted in an IIS environment. The blog has a registration page for regular users and administrators, blog page with multiple posts where each post can have multiple comments. Finally we have a list of bad word that has to be blurred if posted.

</p>

<br />


<p>

    <h6>2018 Android App</h6>
    With the help of the city of Ottawa, We built an android app that maps the location of every red light camera in Ottawa; we also added user authentication via REST API running on a glassfish server and using Java Server Faces for the web app.
</p>
<br />

